@import compass/reset
@import compass/css3
@import mixin

body
	
	font-family: 'Roboto','Meiryo', helvetica
	color: #000
	&.blur-bg
		.header,
		.nav,
		.main-bg,
		.blur,
		.title,
		.container,
		.about,
		.footer
			+filter(blur(8px) grayscale(20%))
			//+transform(scale(1.02))
		&:after
			position: fixed
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: rgba(141,223,200,0.6)
			content: ''
			z-index: 10
	.scroll-top,
	.scroll-down
		position: relative
		margin: -75px auto
		top: 100%
		width: 40px
		height: 40px
		line-height: 38px
		text-align: center
		color: #0b94d0
		font-size: 33px
		background-color: rgba(5,75,100,0.2)
		border: 1px rgba(10,100,140,0.7) solid
		box-sizing: border-box
		+border-radius(50%)
		+animation(scroll-d 0.9s 0s infinite)
		+keyframes(scroll-d)
			40%
				line-height: 38px		
			50%
				line-height: 43px
			52%
				line-height: 38px
			60%
				line-height: 38px
			70%
				line-height: 43px
			72%
				line-height: 38px
	.scroll-top
		position: fixed
		z-index: 10
		right: 20px
		bottom: 20px
		color: #fff
		border: 1px #666 solid
		background-color: rgba(50,50,50,0.4)
		opacity: 0
		cursor: pointer
		+transition(0.4s)
		+animation(scroll-d 1.2s 0s infinite)
		+transform(rotate(180deg))
		&.solid
			opacity: 1

.header
	width: 100%
	position: fixed
	left: 0
	z-index: 10
	padding: 5px 0
	+transition(0.3s)
	.logo-u
		position: absolute
		height: 40px
		margin: 5px 10px
		display: block
		z-index: 15	
		+transition(0.3s)
		&.logo-color
			opacity: 0
	@media screen and (max-width: 768px)
		background-color: #FFF
		height: 50px
		box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1)
		.logo-u.logo-color
			opacity: 1
		.share
			margin-right: 50px
		&.mobile-open
			height: 420px
	@media screen and (max-width: 414px)	
		.logo-img
			overflow: hidden
			width: 50px
			height: 50px
			display: inline-block
			position: relative


	&.solid
		background-color: #FFF
		//border-bottom: 1px #ccc solid
		box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1)
		.logo-color
			opacity: 1
	
		
	.share
		float: right
		padding-right: 10px
		line-height: 50px
		font-size: 1.7em
		i
			display: inline-block
			margin: 0 3px
			cursor: pointer
			&.fa-twitter
				color: #30A3DC
			&.fa-facebook-official
				color: #3B5995
.nav
	position: absolute
	bottom: 70px
	left: 3%
	font-size: 1em
	line-height: 1em
	color: #fff
	text-shadow: 0 1px 2px rgba(0,0,0,.7)
	z-index: 10
	+transition(0.3s)
	@media screen and (max-width: 768px)
		left: 2em
		bottom: 150px
		padding: 0 20px
	.mobile-menu
		display: none
	ul
		display: inline-block
		vertical-align: middle
	li
		display: inline-block
		margin-right: 30px
		font-size: 1.5em
		line-height: 2em
		cursor: pointer
		//font-weight: 600
		letter-spacing: -1px
		&.en,
		.en
			letter-spacing: 0
			font-size: 1.6rem
		//+transition(0.2s)
		&:hover
			color: #87f3ce
	
		@media screen and (max-width: 1024px)
			font-size: 1.6em
			margin-right: 25px
			&.en,
			.en
				font-size: 1.75rem
	.nav-faq
		li
			font-size: 1.1em
			margin-right: 20px
			line-height: 1.3em
			&.faq-title
				font-weight: bold
				border-right: 1px rgba(255,255,255,0.7) solid
				margin-right: 10px
				padding-right: 15px
	@media screen and (max-width: 768px)
		position: fixed
		top: 0
		left: 0
		width: 100%
		padding: 0
		height: 60px
		overflow: hidden
		+transition(0.3s)
		&.mobile-open
			height: 420px
		h2
			display: none
		.mobile-menu
			display: block
			width: 60px
			font-size: 1.5rem
			line-height: 60px
			color: #777
			position: absolute
			right: 0
			text-align: center
			text-shadow: 0 0 0 rgba(0,0,0,.7)
		ul
			width: 100%
			margin-top: 60px	
		li,
		.nav-faq li
			text-align: center
			margin-right: 0
			font-size: 1.5rem
			line-height: 60px
			color: #777
			padding: 0
			height: 60px
			margin: 0 auto
			text-shadow: 0 0 0 rgba(0,0,0,.7)
			width: 60%
			display: block
		li.faq-title
			display: none



	.video-play
		width: 122px
		height: 65px
		line-height: 65px
		text-align: center
		+bg(video-thumb,jpg)
		background-size: 100%
		position: relative
		margin: auto
		font-size: 2em
		color: #fff
		display: inline-block
		vertical-align: middle
		cursor: pointer
		box-shadow: 0 1px 3px rgba(0,0,0,0.7)
		+transition(0.4s)
		&:before
			+bg(video-mask,gif)
			background-repeat: repeat
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			border: 5px #fff solid
			box-sizing: border-box
			content: ''
			+transition(0.4s)
		i
			position: relative
			z-index: 2
		&:hover
			color: #87f3ce
			&:before
				border: 3px #87f3ce solid
				background: transparent
	&.solid
		position: fixed
		top: 0
		left: 200px
		height: 60px
		width: calc(100% - 285px)
		h2
			display: none
		li
			line-height: 60px
			text-align: center	
			font-size: 1em
			color: #888
			padding: 0 15px
			height: 60px
			margin: 0
			text-shadow: 0 0 0 rgba(0,0,0,.7)
			&.en,
			.en
				font-size: 1.2rem
			&:hover
				border-bottom: 3px #0ebacb solid
				box-sizing: border-box
		.nav-faq
			position: absolute
			top: 0
			right: 0
			li	
				&.faq-title
					font-weight: bold
					border-right: 0px rgba(255,255,255,0.7) solid
					margin-right: 5px
					padding-right: 0px
					font-size: 1.1em
					display: none
				&.inner-link
					//display: none
		.video-play
			width: 60px
			height: 35px
			overflow: hidden
			box-shadow: 0 0 0 #fff
			text-shadow: 0 0 0 #fff
			line-height: 35px
			font-size: 15px
			margin-left: 20px	
			+border-radius(3px)
			&:hover
				color: #fff
			&:before
				border: 50px #0ebacb solid
		@media screen and (max-width: 1024px)
			left: 180px
			width: calc(100% - 265px)
		@media screen and (max-width: 768px)
			width: 100%
			left: 0
			&.mobile-open
				height: 420px
			ul
				width: 100%
				margin-top: 60px
			li
				margin-right: 0
				font-size: 1.5rem
				line-height: 60px
				color: #777
				padding: 0
				height: 60px
				margin: 0 auto
				text-shadow: 0 0 0 rgba(0,0,0,.7)
				width: 60%
				display: block
			.nav-faq
				position: relative
				top: 0px

.main-bg
	width: 100%
	height: 100vh
	overflow: hidden
	position: absolute
	top: 0
	left: 0
	+bg(bg-ff13,jpg)
	background-color: #000
	background-size: 100% auto
	background-position: center top
	background-repeat: no-repeat
	@media screen and (max-width: 768px)
		background-position: center 50px 
	&:after
		position: absolute
		width: 100%
		height: 50%
		bottom: 0
		left: 0
		+linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9))
		content: ''
		@media screen and (max-width: 768px)
			height: 60%
.blur
	position: absolute
	width: 100%
	//max-width: 1080px
	height: 100vh
	top: 0
	z-index: 1
	//overflow: hidden
	div
		background-size: 100%
		position: absolute
	.ball-g
		+bg(blur-ball-g,png)
		width: 700px
		height: 700px
		top: -300px
		left: 0px
	.ball-p
		+bg(blur-ball-p,png)
		width: 450px
		height: 450px
		left: 150px
		top: -160px
	.ball-b
		+bg(blur-ball-p,png)
		width: 550px
		height: 550px
		left: 0px
		top: -260px
	@media screen and (max-width: 768px)
		display: none

.title
	max-width: 650px
	width: 35%
	position: absolute
	top: 10px
	left: 20px
	//+transform(translateX(-50%))
	@media screen and (max-width: 768px)
		max-width: 80%
		width: 80%
		left: 10%
		top: initial
		bottom: 500px
	@media screen and (max-width: 414px)
		bottom: 360px
	h1,
	&:before		
		width: 100%
		padding-bottom: 69.23%
		background-size: 100%
		background-position: center
		position: absolute
		top: 0
		left: 0
	h1
		+bg(title-ff13,png)
		z-index: 1
		font-size: 0
		overflow: hidden
		text-indent: -9999px
	&:before
		+bg(title-ff13-glow,png)
		opacity: 0
		content: ''
		+animation(title-ani 5s 0s infinite)
		+keyframes(title-ani)
			0%
				opacity: 0		
			50%
				opacity: 1
			80%
				opacity: 0


.container
	position: relative
	width: 100%
	//max-width: 1080px
	margin: auto
	overflow: hidden
	height: 100vh
	z-index: 1
	
	.info
		position: absolute
		width: 100%
		bottom: 0px
		text-align: center
		font-size: 0.5rem
		line-height: 1rem
		color: #888
		font-weight: normal
		+transform(scale(0.8))
		@media screen and (max-width: 414px)
			width: 160%
			left: -30%
			+transform(scale(0.6))

	.text
		position: absolute
		color: #000	
		text-align: left
		bottom: 10px
		right: 2em
		padding: 10px		
		
		@media screen and (max-width: 768px)
			left: 2em
			right: initial
			bottom: 50px
			width: 85%
		@media screen and (max-width: 414px)
			left: 50%
			width: 320px
			margin-left: -160px
			//max-width: 90%
			//+transform(translateX(-50%))
			padding: 10px 0 80px
			.price
				padding: 10px 0

		.price
			margin-top: 1em
			padding: 10px
			color: #fff
			text-shadow: 0 1px 2px rgba(0,0,0,.7)
			h2
				font-size: 2.8em
				line-height: 1.2em	
				//color: #efc74c
				color: #fff
				font-weight: bold
				small
					font-size: 0.5em
					font-weight: normal
				@media screen and (max-width: 1024px)
					font-size: 2em
				@media screen and (max-width: 414px)
					color: #fff
				@media screen and (max-width: 320px)
					font-size: 2em
			.period
				font-size: 1em
				//color: #efc74c
				color: #fff
				small
					font-size: 0.5em
				@media screen and (max-width: 768px)
					font-size: 0.8em
				@media screen and (max-width: 414px)
					color: #fff
					small
						font-size: 0.8em
			.org
				font-size: 0.6em
				color: #fff
				@media screen and (max-width: 414px)
					color: #fff
					font-size: 0.8em
		.store
			margin-top: 1em
			a
				width: 150px
				height: 50px
				display: inline-block
				background-size: 100%
				//+border-radius(4px)
				&.apple
					+bg(icon_appstore,png)
				&.android
					+bg(icon_googleplay,png)
			@media screen and (max-width: 768px)
				position: absolute
				right: 0
				bottom: 25px
			@media screen and (max-width: 414px)
				right: initial
			// @media screen and (max-width: 375px)
			// 	width: 100%
			// 	text-align: center
			// 	a
			// 		width: 160px
			// 		height: 54px
			// 		@media screen and (max-width: 320px)
			// 			width: 140px
			// 			height: 47px
	img
		&.main
			width: 70%
			max-width: 800px
			@media screen and (max-width: 414px)
				width: 140%
				margin-top: 300px
				margin-left: -20%
	.cast-hand
		+bg(cast-main-0,png)
		width: 600px
		height: 392px
		position: absolute
		bottom: -80px
		right: 0
.about
	width: 100%
	background-color: #efefef
	color: #444
	position: relative
	z-index: 5
	padding-bottom: 50px
	// margin-top: -100px
	.des
		width: 90%
		max-width: 960px
		text-align: left
		position: relative
		z-index: 1
		margin: auto
		padding-top: 60px
		font-size: 1em
		line-height: 1.5em
		@media screen and (max-width: 768px)
			font-size: 0.8em
		h2
			font-size: 1.8em
			line-height: 1.8em
			color: #000
			padding: 65px 0 0.8em 0
			text-align: center
			font-family: 'Roboto', 'Yu Gothic', sans-serif
			font-weight: 600
			color: #3d5491
			&:first-of-type
				padding-top: 0.5em
			@media screen and (max-width: 414px)
				padding: 0.3em 0
			@media screen and (max-width: 375px)
				font-size: 1.6em
			@media screen and (max-width: 320px)
				font-size: 1.4em
		h3
			text-align: center
			font-size: 1.2em
			margin: 30px 0 20px
			font-weight: bold
			@media screen and (max-width: 414px)
				margin: -5px 0 20px
		hr
			clear: both
			height: 1px
			margin: 40px 0 10px
			border: 0
			border-bottom: 1px #ccc solid
			&.invis
				opacity: 0
		.dot
			list-style-type: disc
			position: absolute
			color: #999
			font-size: 15px
			left: 50%
			margin-top: -105px
			margin-left: 15px
		img
			width: 500px
			&.img-left
				float: left
				margin-right: 30px
			&.img-right
				float: right
				margin-left: 30px
			@media screen and (max-width: 768px)
				width: 300px
			@media screen and (max-width: 414px)
				width: 100%
				&.img-left,
				&.img-right
					float: none
					margin: 0
		.app-download
			text-align: center
			padding: 0px 0 100px
			width: 65%
			margin: auto
			.app-icon
				position: relative
				//display: inline-block
				float: left
				vertical-align: middle
				margin-right: 20px
				img
					width: 100px
					height: 100px
					box-shadow: 0 2px 10px rgba(0,0,0,0.4)
					+border-radius(4px)
				.d-icon
					color: #fff
					position: absolute
					font-size: 35px
					line-height: 54px
					text-align: center
					width: 50px
					height: 50px
					right: -8px
					bottom: -8px
					background-color: #fe5e65
					+border-radius(50%)
					box-shadow: 0 1px 3px rgba(0,0,0,0.6)
			.cast-icon
				position: relative
				float: left
				vertical-align: middle
				margin-right: 20px
				width: 100px
				height: 100px
				background-color: #1EB1FC
				+border-radius(50%)
				box-shadow: 0 1px 3px rgba(0,0,0,0.6)
				img
					width: 70%
					height: 70%
					margin: 15%
			h3
				//display: inline-block
				vertical-align: middle
				text-align: left
				//padding-left: 15px
				font-size: 1.2em
				line-height: 2em
				font-weight: normal

		.about-cast,
		.about-game,
		.about-story
			padding-top: 2.5em
			line-height: 1.9em
			text-align: justify
			@media screen and (max-width: 768px)
				padding-top: 0

		.more
			font-size: 1em
			color: #00AFFF
			text-decoration: none
		a
			color: #00AFFF
			text-decoration: none
	.section-step
		display: inline-block
		vertical-align: top
		width: 29%
		font-size: 0
		margin: 0 2%
		text-align: center
		font-size: 0.8em
		.section-stepImage
			width: 100%
			max-width: 280px
			+border-radius(50%)
		@media screen and (max-width: 414px)
			width: 90%
			margin: 0 5% 20px
			.section-stepImage
				width: 70%
		
		h4
			font-size: 1.3em
			line-height: 2.2em
			font-weight: bold
			color: #0ebacb
	.evn-block
		text-align: center
		li
			display: inline-block
			vertical-align: top
			width: 29%
			font-size: 0
			margin: 0 2%
			text-align: center
			font-size: 0.8em
			.evn-icon
				width: 100px
				height: 100px
				font-size: 50px
				line-height: 100px
				background-color: #dadada
				border: 1px #ccc solid
				display: block
				margin: auto
				+border-radius(50%)
			h4
				display: block
.footer
	background-color: #dadada
	text-align: center
	//line-height: 3em
	padding: 10px 0
	color: #666
	small
		display: block
		margin-top: 30px
		color: #999
		font-size: 0.5rem
		line-height: 1rem
		+transform(scale(0.8))
	.logos
		display: inline-block
		margin: 10px
		vertical-align: middle
		img
			width: 120px
			display: inline-block
			vertical-align: middle
			margin: 5px 8px
			&.ubitus
				width: 100px
	.footer-links
		display: inline-block
		vertical-align: middle
		text-align: left
		li
			display: inline-block
			width: 48%
			font-size: 0.9rem
			line-height: 2.5em
			margin: 0
			cursor: pointer
			a
				text-decoration: none
				color: #666
				&:hover
					color: #444
			&:hover
				color: #444
		@media screen and (max-width: 768px)
			width: 90%
			margin: auto
	@media screen and (max-width: 414px)
		.logos
			img
				width: 28% !important
		.footer-links
			text-align: center
			li
				width: 90%
				


			

.tvcm
	position: fixed
	width: 100%
	height: 100%
	z-index: 100
	top: 0
	left: 0
	+transform(scale(0))
	+transition(0.3s)
	&.show
		+transform(scale(1))
	.close
		position: absolute
		top: 5px
		right: 5px
		color: #fff
		width: 40px
		height: 40px
		text-align: center
		cursor: pointer
		//+transition(0.3s)
		&:before,
		&:after
			width: 2px
			height: 40px
			content: ''
			background-color: #FFF
			position: absolute
			top: 0
			
		&:before
			+transform(rotate(45deg))
		&:after
			+transform(rotate(-45deg))
	.cm-box
		position: absolute
		width: 800px
		height: 450px
		background-color: #000
		overflow: hidden
		top: 50%
		left: 50%
		border: 2px #fff solid
		+transform(translateX(-50%) translateY(-50%))
		box-shadow: 0 2px 10px rgba(0,0,0,0.8), 0 3px 25px rgba(0,0,0,0.6)
		//+border-radius(5px)
		iframe
			width: 100%
			height: 100%
		@media screen and (max-width: 768px)
			width: 85%
			height: 85%
