html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Roboto", "Meiryo", helvetica;
  color: #000;
}
body.blur-bg .header,
body.blur-bg .nav,
body.blur-bg .main-bg,
body.blur-bg .blur,
body.blur-bg .title,
body.blur-bg .container,
body.blur-bg .about,
body.blur-bg .footer {
  -webkit-filter: blur(8px) grayscale(20%);
  filter: blur(8px) grayscale(20%);
}
body.blur-bg:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(141, 223, 200, 0.6);
  content: "";
  z-index: 10;
}
body .scroll-top,
body .scroll-down {
  position: relative;
  margin: -75px auto;
  top: 100%;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #0b94d0;
  font-size: 33px;
  background-color: rgba(5, 75, 100, 0.2);
  border: 1px rgba(10, 100, 140, 0.7) solid;
  box-sizing: border-box;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: scroll-d 0.9s 0s infinite;
  -webkit-animation: scroll-d 0.9s 0s infinite;
  animation: scroll-d 0.9s 0s infinite;
}
@-moz-keyframes scroll-d {
  40% {
    line-height: 38px;
  }
  50% {
    line-height: 43px;
  }
  52% {
    line-height: 38px;
  }
  60% {
    line-height: 38px;
  }
  70% {
    line-height: 43px;
  }
  72% {
    line-height: 38px;
  }
}
@-webkit-keyframes scroll-d {
  40% {
    line-height: 38px;
  }
  50% {
    line-height: 43px;
  }
  52% {
    line-height: 38px;
  }
  60% {
    line-height: 38px;
  }
  70% {
    line-height: 43px;
  }
  72% {
    line-height: 38px;
  }
}
@keyframes scroll-d {
  40% {
    line-height: 38px;
  }
  50% {
    line-height: 43px;
  }
  52% {
    line-height: 38px;
  }
  60% {
    line-height: 38px;
  }
  70% {
    line-height: 43px;
  }
  72% {
    line-height: 38px;
  }
}
body .scroll-top {
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  color: #fff;
  border: 1px #666 solid;
  background-color: rgba(50, 50, 50, 0.4);
  opacity: 0;
  cursor: pointer;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-animation: scroll-d 1.2s 0s infinite;
  -webkit-animation: scroll-d 1.2s 0s infinite;
  animation: scroll-d 1.2s 0s infinite;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
body .scroll-top.solid {
  opacity: 1;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 10;
  padding: 5px 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .logo-u {
  position: absolute;
  height: 40px;
  margin: 5px 10px;
  display: block;
  z-index: 15;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .logo-u.logo-color {
  opacity: 0;
}
@media screen and (max-width: 1024px) {
  .header {
    background-color: #FFF;
    height: 50px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .header .logo-u.logo-color {
    opacity: 1;
  }
  .header .share {
    margin-right: 50px;
  }
  .header.mobile-open {
    height: 300px;
  }
}
@media screen and (max-width: 414px) {
  .header .logo-img {
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
  }
}
.header.solid {
  background-color: #FFF;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.header.solid .logo-color {
  opacity: 1;
}
.header .share {
  float: right;
  padding-right: 10px;
  line-height: 50px;
  font-size: 1.7em;
}
.header .share i {
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
}
.header .share i.fa-twitter {
  color: #30A3DC;
}
.header .share i.fa-facebook-official {
  color: #3B5995;
}

.nav {
  position: absolute;
  bottom: 80px;
  left: 3%;
  font-size: 1em;
  line-height: 1em;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  z-index: 10;
  height: 110px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .nav {
    left: 2em;
    bottom: 150px;
    padding: 0 20px;
  }
}
.nav .mobile-menu {
  display: none;
}
.nav ul {
  display: inline-block;
  vertical-align: middle;
}
.nav li {
  display: inline-block;
  margin-right: 30px;
  font-size: 2.4em;
  line-height: 2em;
  cursor: pointer;
  letter-spacing: -1px;
}
.nav li.en,
.nav li .en {
  letter-spacing: 0;
  font-size: 2.55rem;
}
.nav li:hover {
  color: #87f3ce;
}
@media screen and (max-width: 1800px) {
  .nav li {
    font-size: 2.2em;
  }
  .nav li.en,
  .nav li .en {
    font-size: 2.35rem;
  }
}
@media screen and (max-width: 1600px) {
  .nav li {
    font-size: 1.8em;
    margin-right: 25px;
  }
  .nav li.en,
  .nav li .en {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 1400px) {
  .nav li {
    font-size: 1.6em;
    margin-right: 25px;
  }
  .nav li.en,
  .nav li .en {
    font-size: 1.65rem;
  }
}
@media screen and (max-width: 1280px) {
  .nav li {
    font-size: 1.4em;
    margin-right: 20px;
  }
  .nav li.en,
  .nav li .en {
    font-size: 1.45rem;
  }
}
@media screen and (max-width: 1150px) {
  .nav li {
    font-size: 1.2em;
    margin-right: 15px;
  }
  .nav li.en,
  .nav li .en {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav.mobile-open {
    height: 300px;
  }
  .nav h2 {
    display: none;
  }
  .nav .mobile-menu {
    display: block;
    width: 60px;
    font-size: 1.5rem;
    line-height: 60px;
    color: #777;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  }
  .nav ul {
    width: 100%;
    margin-top: 60px;
  }
  .nav li {
    text-align: center;
    margin-right: 0;
    font-size: 1.5rem;
    line-height: 60px;
    color: #777;
    padding: 0;
    height: 60px;
    margin: 0 auto;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
    width: 60%;
    display: block;
  }
}
.nav.solid {
  position: fixed;
  top: 0;
  left: 200px;
  height: 60px;
  width: calc(100% - 285px);
}
.nav.solid h2 {
  display: none;
}
.nav.solid li {
  line-height: 60px;
  text-align: center;
  font-size: 1em;
  color: #888;
  padding: 0 15px;
  height: 60px;
  margin: 0;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
}
.nav.solid li.en,
.nav.solid li .en {
  font-size: 1.25rem;
}
.nav.solid li:hover {
  border-bottom: 3px #0ebacb solid;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .nav.solid {
    width: 100%;
    left: 0;
  }
  .nav.solid.mobile-open {
    height: 300px;
  }
  .nav.solid ul {
    width: 100%;
    margin-top: 60px;
  }
  .nav.solid li {
    margin-right: 0;
    font-size: 1.5rem;
    line-height: 60px;
    color: #777;
    padding: 0;
    height: 60px;
    margin: 0 auto;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
    width: 60%;
    display: block;
  }
}

.main-bg {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/bg-ff13.jpg");
  background-repeat: no-repeat;
  background-color: #000;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .main-bg {
    background-position: center 50px;
  }
}
.main-bg:after {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
  background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='transparent', EndColorStr='rgba(0, 0, 0, 0.9)');
  content: "";
}
@media screen and (max-width: 768px) {
  .main-bg:after {
    height: 60%;
  }
}

.title {
  max-width: 650px;
  width: 35%;
  position: absolute;
  top: 10px;
  left: 20px;
}
@media screen and (max-width: 768px) {
  .title {
    max-width: 80%;
    width: 80%;
    left: 10%;
    top: initial;
    bottom: 500px;
  }
}
@media screen and (max-width: 414px) {
  .title {
    bottom: 360px;
  }
}
.title h1, .title:before {
  width: 100%;
  padding-bottom: 69.23%;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.title h1 {
  background-image: url("../img/title-ff13.png");
  background-repeat: no-repeat;
  z-index: 1;
  font-size: 0;
  overflow: hidden;
  text-indent: -9999px;
}
.title:before {
  background-image: url("../img/title-ff13-glow.png");
  background-repeat: no-repeat;
  opacity: 0;
  content: "";
  -moz-animation: title-ani 5s 0s infinite;
  -webkit-animation: title-ani 5s 0s infinite;
  animation: title-ani 5s 0s infinite;
}
@-moz-keyframes title-ani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
@-webkit-keyframes title-ani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
@keyframes title-ani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
.container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
}
.container .info {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: 0.5rem;
  line-height: 1rem;
  color: #888;
  font-weight: normal;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
@media screen and (max-width: 414px) {
  .container .info {
    width: 160%;
    left: -30%;
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}
.container .text {
  position: absolute;
  color: #000;
  text-align: left;
  bottom: 10px;
  right: 2em;
  padding: 10px;
}
.container .text .app-icon {
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 140px;
  margin: 0 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.container .text .app-icon img {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .container .text {
    left: 50%;
    right: initial;
    margin: 0 -265px;
    bottom: 70px;
    width: 550px;
  }
  .container .text .app-icon,
  .container .text .price {
    display: inline-block;
    vertical-align: middle;
  }
  .container .text .app-icon {
    width: 125px;
    height: 125px;
  }
}
@media screen and (max-width: 414px) {
  .container .text {
    left: 50%;
    width: 320px;
    margin-left: -160px;
    padding: 10px 0 20px;
  }
  .container .text .app-icon {
    display: none;
  }
  .container .text .price {
    padding: 10px 0;
  }
  .container .text .store {
    font-size: 0;
  }
  .container .text .store a {
    margin: 5px 0;
  }
}
.container .text .price {
  margin-top: 1em;
  padding: 10px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
.container .text .price h2 {
  font-size: 2.8em;
  line-height: 1.2em;
  color: #fff;
  font-weight: bold;
}
.container .text .price h2 small {
  font-size: 0.5em;
  font-weight: normal;
}
@media screen and (max-width: 1024px) {
  .container .text .price h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 414px) {
  .container .text .price h2 {
    color: #fff;
  }
}
@media screen and (max-width: 320px) {
  .container .text .price h2 {
    font-size: 2em;
  }
}
.container .text .price .period {
  font-size: 1em;
  color: #fff;
}
.container .text .price .period small {
  font-size: 0.5em;
}
@media screen and (max-width: 768px) {
  .container .text .price .period {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 414px) {
  .container .text .price .period {
    color: #fff;
  }
  .container .text .price .period small {
    font-size: 0.8em;
  }
}
.container .text .price .org {
  font-size: 0.6em;
  color: #fff;
}
@media screen and (max-width: 414px) {
  .container .text .price .org {
    color: #fff;
    font-size: 0.8em;
  }
}
.container .text .store {
  margin-top: 1em;
}
.container .text .store a {
  width: 150px;
  height: 50px;
  display: inline-block;
  background-size: 100%;
}
.container .text .store a.apple {
  background-image: url("../img/icon_appstore.png");
  background-repeat: no-repeat;
}
.container .text .store a.android {
  background-image: url("../img/icon_googleplay.png");
  background-repeat: no-repeat;
}
@media screen and (max-width: 414px) {
  .container .text .store {
    right: initial;
  }
}
.container img.main {
  width: 70%;
  max-width: 800px;
}
@media screen and (max-width: 414px) {
  .container img.main {
    width: 140%;
    margin-top: 300px;
    margin-left: -20%;
  }
}
.container .cast-hand {
  background-image: url("../img/cast-main-0.png");
  background-repeat: no-repeat;
  width: 600px;
  height: 392px;
  position: absolute;
  bottom: -80px;
  right: 0;
}

.about {
  width: 100%;
  background-color: #efefef;
  color: #444;
  position: relative;
  z-index: 5;
  padding-bottom: 50px;
}
.about .des {
  width: 90%;
  max-width: 960px;
  text-align: left;
  position: relative;
  z-index: 1;
  margin: auto;
  padding-top: 60px;
  font-size: 1em;
  line-height: 1.5em;
}
@media screen and (max-width: 768px) {
  .about .des {
    font-size: 0.8em;
  }
}
.about .des h2 {
  font-size: 1.8em;
  line-height: 1.8em;
  color: #000;
  padding: 65px 0 0.8em 0;
  text-align: center;
  font-family: "Roboto", "Yu Gothic", sans-serif;
  font-weight: 600;
  color: #3d5491;
}
.about .des h2:first-of-type {
  padding-top: 0.5em;
}
@media screen and (max-width: 414px) {
  .about .des h2 {
    padding: 0.3em 0;
  }
}
@media screen and (max-width: 375px) {
  .about .des h2 {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 320px) {
  .about .des h2 {
    font-size: 1.4em;
  }
}
.about .des h3 {
  text-align: center;
  font-size: 1.4em;
  margin: 30px 0 20px;
  font-weight: bold;
}
@media screen and (max-width: 414px) {
  .about .des h3 {
    margin: -5px 0 20px;
  }
}
.about .des h5 {
  text-align: center;
  font-size: 0.7em;
  margin-top: -20px;
}
.about .des hr {
  clear: both;
  height: 1px;
  margin: 40px 0 10px;
  border: 0;
  border-bottom: 1px #ccc solid;
}
.about .des hr.invis {
  opacity: 0;
}
.about .des .dot {
  list-style-type: disc;
  position: absolute;
  color: #00AFFF;
  font-size: 15px;
  left: 50%;
  margin-top: -105px;
  margin-left: 15px;
}
.about .des img {
  width: 500px;
}
.about .des img.img-left {
  float: left;
  margin-right: 30px;
}
.about .des img.img-right {
  float: right;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .about .des img {
    width: 300px;
  }
}
@media screen and (max-width: 414px) {
  .about .des img {
    width: 100%;
  }
  .about .des img.img-left, .about .des img.img-right {
    float: none;
    margin: 0;
  }
}
.about .des .app-download {
  text-align: center;
  padding: 0px 0 100px;
  width: 65%;
  margin: auto;
}
.about .des .app-download:nth-of-type(3) {
  padding-bottom: 30px;
}
.about .des .app-download .store a {
  width: 180px;
  height: 60px;
  display: inline-block;
  background-size: 100%;
}
.about .des .app-download .store a.apple {
  background-image: url("../img/icon_appstore.png");
  background-repeat: no-repeat;
}
.about .des .app-download .store a.android {
  background-image: url("../img/icon_googleplay.png");
  background-repeat: no-repeat;
}
.about .des .app-download .app-icon {
  position: relative;
  float: left;
  vertical-align: middle;
  margin-right: 20px;
}
.about .des .app-download .app-icon img {
  width: 100px;
  height: 100px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.about .des .app-download .app-icon .d-icon {
  color: #fff;
  position: absolute;
  font-size: 35px;
  line-height: 54px;
  text-align: center;
  width: 50px;
  height: 50px;
  right: -8px;
  bottom: -8px;
  background-color: #fe5e65;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.about .des .app-download .cast-icon {
  position: relative;
  float: left;
  vertical-align: middle;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  background-color: #1EB1FC;
  color: #fff;
  font-size: 65px;
  line-height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.about .des .app-download .cast-icon img {
  width: 70%;
  height: 70%;
  margin: 15%;
}
.about .des .app-download .cast-icon.cast-btn {
  margin-bottom: 100px;
}
@media screen and (max-width: 414px) {
  .about .des .app-download .cast-icon {
    float: none;
    margin: 0 auto 20px;
  }
  .about .des .app-download .cast-icon.cast-btn {
    margin: 10px auto 20px;
  }
}
.about .des .app-download h4 {
  vertical-align: middle;
  text-align: justify;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: normal;
  margin: 10px auto;
  width: 550px;
}
.about .des .app-download h4 .cast-icon-small {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/cast-on.png");
  background-repeat: no-repeat;
  background-color: #999;
  background-size: 70%;
  background-position: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .about .des .app-download img {
    max-width: 100%;
  }
  .about .des .app-download h4 {
    width: auto;
  }
}
.about .des .about-cast,
.about .des .about-game,
.about .des .about-story {
  padding-top: 2.5em;
  line-height: 1.9em;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .about .des .about-cast,
  .about .des .about-game,
  .about .des .about-story {
    padding-top: 0;
  }
}
.about .des .about-cast small,
.about .des .about-game small,
.about .des .about-story small {
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: #888;
}
.about .des .more {
  font-size: 1em;
  color: #00AFFF;
  text-decoration: none;
}
.about .des a {
  color: #00AFFF;
  text-decoration: none;
}
.about .section-step {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  font-size: 0;
  margin: 0 2%;
  text-align: center;
  font-size: 0.8em;
}
.about .section-step .section-stepImage {
  width: 100%;
  max-width: 280px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 414px) {
  .about .section-step {
    width: 90%;
    margin: 0 5% 20px;
  }
  .about .section-step .section-stepImage {
    width: 70%;
  }
}
.about .section-step h4 {
  font-size: 1.3em;
  line-height: 2.2em;
  font-weight: bold;
  color: #0ebacb;
}
.about .evn-block {
  text-align: center;
}
.about .evn-block li {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  font-size: 0;
  margin: 0 2%;
  text-align: center;
  font-size: 0.8em;
}
@media screen and (max-width: 414px) {
  .about .evn-block li {
    width: 90%;
    margin: 0 5%;
  }
}
.about .evn-block li .evn-icon {
  width: 150px;
  height: 150px;
  font-size: 80px;
  line-height: 150px;
  background-color: #dadada;
  border: 1px #ccc solid;
  display: block;
  margin: 15px auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.about .evn-block li .evn-icon .fa-wifi {
  line-height: 160px;
}
.about .evn-block li .evn-icon .fa-mobile {
  font-size: 90px;
  line-height: 155px;
}
.about .evn-block li .evn-icon:hover {
  background-color: #ccc;
}
.about .evn-block li h4 {
  display: block;
  font-size: 1.5em;
}
.about .evn-block li a h4 {
  color: #333;
}

.footer {
  background-color: #dadada;
  text-align: center;
  padding: 10px 0;
  color: #666;
}
.footer small {
  display: block;
  margin-top: 10px;
  color: #999;
  font-size: 0.5rem;
  line-height: 1rem;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.footer .logos {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}
.footer .logos img {
  width: 160px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 8px;
}
.footer .logos img.ubitus {
  width: 140px;
}
.footer .footer-links {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.footer .footer-links li {
  display: inline-block;
  width: 48%;
  font-size: 0.9rem;
  line-height: 2.5em;
  margin: 0;
  cursor: pointer;
}
.footer .footer-links li a {
  text-decoration: none;
  color: #666;
}
.footer .footer-links li a:hover {
  color: #444;
}
.footer .footer-links li:hover {
  color: #444;
}
@media screen and (max-width: 768px) {
  .footer .footer-links {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 414px) {
  .footer .logos img {
    width: 28% !important;
  }
  .footer .footer-links {
    text-align: center;
  }
  .footer .footer-links li {
    width: 90%;
  }
}
